# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor specific
.DS_Store
Thumbs.db
*.swp

# Environment variables
.env
.env.local
.env.*.local

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Debug
*.tgz
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# React-specific
*.env.production
*.env.developm*
